<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<style type="text/css">
%c
.buttons table, .buttons td {
   border: 2px solid black;
   border-collapse: collapse;
   padding: 4px;
   }
.buttons {
    padding-bottom: 10px;
}
td.c {
    text-align: center;
}
</style>
<title>%(title)s</title>
</head>
<body>
  <div class="buttons">
  <table>
     <tr>
       <td><a href="am-handicap.html">Andy Handicap</a></td>
       <td><a href="dm-handicap.html">Douglas Handicap</a></td>
       <td><a href="ks-handicap.html">Kenny Handicap</a></td>
       <td><a href="njr-handicap.html">Nick Handicap</td>

     </tr>
     <tr>
       <td><a href="am-counters.html">Andy Counters</a></td>
       <td><a href="dm-counters.html">Douglas Counters</a></td>
       <td><a href="ks-counters.html">Kenny Counters</a></td>
       <td><a href="njr-counters.html">Nick Counters</td>
     </tr>
  </table>
</div>
  %(content)O
</body>
</html>
